doctype html
html(lang='en' ng-app='app')
  head
    title Kareo
    meta(charset='UTF-8')

    link(rel='stylesheet' href='site.css' type='text/css')
    script(src='site.js' type='text/javascript')

  body
    //div(header)
    section.main-content(ui-view)
